
body{
    background-image: url(images/prism.png);
}

a{
    color: #4aaaa5;
}

.jumbo-pad {
    padding: 10px;
}

.uniform-color {
    background-color: #1d1616;
    color: #4aaaa5;
    border: 2px solid #4aaaa5;
}

.container-padding{
    padding: 5px;
}

.container-margin{
    margin-top: 50px;
}

.cus-navbar{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #4aaaa5;
}

.span-parent {
    margin: auto 0;
    width: max-content;
}

#timer{

    font-size: 25px;
    
}

.cus-button {
    margin: 10px;
    transition: none;
}

.cus-button:hover{ /* button grow idea and code from: https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: silver;
}